---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: buildkit
resources:
  - statefulset.yaml
  - service.yaml
  - configmap.yaml
  - serviceaccount.yaml
  - ciliumnetworkpolicy.yaml
